html,
body {
    margin: 0;
    padding: 0;
    font-family: Yeezy;
}

div.wrapper{
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 40px auto 0px auto;
    
    @media (min-width: 768px) and (max-width: 1000px){
        padding: 0px 10px;
      }
}