@font-face{
    src: url(../fonts/yeezy_tstar-regular-webfont.ttf);
    font-family: Yeezy;
}

@font-face{
    src: url(../fonts/yeezy_tstar-bold-webfont.ttf);
    font-family: Yeezy;
    font-weight: bold;
}

