.upcoming-post{
    .upcoming-post__header{
        .upcoming-post__image{
            height: 200px;
            width: 100%;
            background-color: #ecece4;
            background-size: 200px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}